* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
    width: 100%;
    display: block;
}

h1 {font-size: 3.5em;}
h2 {font-size: 2.7em;}
span {font-size: 1.25em;}
label {font-size: 1.25em;}

.container {
    max-width: 1400px;
    margin: auto;
}

header {background-color: purple;}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .title {
    padding: 10px 10px;
    font-size: 1.9em;
    font-weight: bold;
}

header .pokeSearch {
    font-size: 1.2em;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 20px 0px;
}

header .btn {
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid black;
    margin-bottom: 20px;
}

.card {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .pokeName {
    text-transform: capitalize;
    padding: 15px 20px;
}

main .pokeImg {
    width: 70%;
    filter: drop-shadow(0 3px 6px);
}

main .stats {
    align-self: flex-start;
    padding: 10px 20px;
}

main #pokeAb {text-transform: capitalize;}