* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    max-width: 1400px;
}

img {
    max-width: 100%;
    width: 100%;
    display: block;
}


#pokeAb {
    text-transform: capitalize;
}